{% extends 'layout.html.twig' %}

{% block title %}Debug{% endblock %}

{% block content %}
    <table border="1">
        <tr>
            <th>Имя пользователя</th>
            <th>E-mail</th>
            <th>Количество сообщений</th>
        </tr>
    {% for user in data.users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.messages }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
