{% extends 'layout.html.twig' %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h1>List of pages:</h1>

    <ul>
        <li><a href="/users">users</a></li>
        <li><a href="/messages">messages</a></li>
    </ul>
{% endblock %}
